altgraph==0.17.4
attrs==23.1.0
cachetools==5.3.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
dateparser==1.1.8
exceptiongroup==1.1.3
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
h11==0.14.0
httplib2==0.22.0
idna==3.4
invoice2data==0.4.4
macholib==1.16.3
numpy==1.26.1
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.2
pdf2image==1.16.3
pefile==2023.2.7
Pillow==9.5.0
protobuf==4.22.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.0.9
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.2
PyYAML==6.0
regex==2023.3.23
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
trio==0.22.2
trio-websocket==0.11.1
tzdata==2023.3
tzlocal==4.3
uritemplate==4.1.1
urllib3==2.2.0
webdriver-manager==4.0.1
wsproto==1.2.0
